* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

img {
  display: block;
  max-width: 100%;
}

 .timer {
  display: flex;
  justify-content: center;
  gap: 30px;
} 

.field {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 8px;
  flex-direction: column;
}